
/* display none until init */
.product-carousel{
	display: none;
	opacity:1!important;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
#column-left .product-carousel, #column-right .product-carousel { display:block;}
#column-left .customNavigation, #column-right .customNavigation { display:none;}

#column-left .banners-slider-carousel .customNavigation,
#column-right .banners-slider-carousel .customNavigation{ display:block;}

.product-carousel .slider-wrapper{
	display: none;
	position: relative;
}
.product-carousel .slider-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.product-carousel .slider-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.product-carousel .slider-item{
	float: left;
}
.slider-controls .slider-page,
.slider-controls .slider-buttons div{
	cursor: pointer;
}
.slider-controls {
	-webkit-tap-highlight-color: transparent;
}

/* mouse grab icon */
 



/* fix */
.product-carousel  .slider-wrapper,
.product-carousel  .slider-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
}


.customNavigation    { 
    position: absolute;
    width: 80px;
    top: -65px;
    direction: ltr !important;
    right: 0px;
}
.customNavigation a{
    display: inline-block;
    background: #ffffff;
    padding: 0px;
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid #e6e6e6;
    cursor: pointer;
    border-radius: 3px;
	-webkit-border-radius:3px;
	-khtml-border-radius:3px;
	-moz-border-radius:3px;
    overflow: hidden;
    -webkit-transition: all 0.5s ease;
    -webkit-transition-delay: 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    line-height: 28px;
	padding: 0 11px;
}
/*.customNavigation a:hover {
    border-color: #ff7200;
    background-color: #ff7200;
}*/
.customNavigation a.prev {
    left: 0px;
	cursor:pointer;
	-o-transition:none;
	font-size: 0px;
}
.customNavigation a.prev:before,
.customNavigation a.next:before {
	font-size: 18px;
    font-family: "FontAwesome";
    color: #000000;
    font-weight: 500;
}
.customNavigation a.prev:hover, .customNavigation a.next:hover {
    background: #d6975c;
	border-color: #d6975c;
}
.customNavigation a.prev:before {
    content: "\f104";
}
.customNavigation a.next:before {
    content: "\f105";
}
.customNavigation a.prev:hover:before,.customNavigation a.next:hover:before{color:#ffffff;}
.product-image .customNavigation{
	width: 100%;
    right: auto;
    position: static;
    top: auto;
}
.product-image .customNavigation a.prev {left: 0px; color:#000000; }
.product-image .customNavigation a.next {right: 0px; color:#000000;}
.product-image  .customNavigation a {
	top: 40px;
    position: absolute;
	z-index: 9;
}


.customNavigation a.next {
    right: 0px;
	color:#fff;
	font-size: 0px;
	cursor:pointer;
}



@media (max-width:1300px) {
    .customNavigation a.prev{ left: 0px; }
	.customNavigation a.next{ right: 0px;  }
}
